.waterfall {
    .img {
        border-radius: 1rem;
        overflow: hidden;
    }

    .skeleton {
        position: absolute;
        inset: 0;
        background: linear-gradient(90deg,
                #f0f0f0 25%,
                #e0e0e0 37%,
                #f0f0f0 63%);
        background-size: 400% 100%;
        animation: skeleton-loading 1.4s ease infinite;
        border-radius: 1rem;
    }

    @keyframes skeleton-loading {
        0% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0 50%;
        }
    }
}